@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@500;700&family=Poppins:wght@900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}
section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: url(m.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
header{
    position: relative;
    top: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
header .logo{
    position: relative;
    color: #0df3b2;
    font-size: 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
}
header .navigation a{
    color: #f9f8f7;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 2px 15px;
    border-radius: 20px;
    transition: 0.4s;
    transition-property: background;
    text-transform: uppercase;

}
header .navigation a:not(:last-child){
    margin-right: 30px;
}
header .navigation a:hover{
    background: #f80505;
}
.content{
    max-width: 650px;
    margin: 60px 100px;
}
.content .info h2{
    color: rgb(253, 6, 6);
    font-size: 55px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 60px;
    margin-bottom: 30px;
}
.content .info h2 span{
    color: rgb(110, 167, 224);
    font-size: 50px;
    font-weight: 600;
}
.content .info p{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 40px;
    color: #f7fcf9;
    text-align:center;
}
.content .info-btn{
    color: rgb(190, 239, 10);
    border: 1px solid transparent;
    border-radius: 50px;
    background-color:transparent;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 20px;
    letter-spacing: 2px;
    margin: 0 2px;
    font-family: cursive;
    
}
.content .info-btn:hover{
    background: rgb(250, 29, 5);
    transition: 0.4s;
}
.media-icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
.media-icons a{
    position: relative;
    color: #0eacea;
    font-size: 20px;
}
.media-icons a:not(:last-child){
    margin-right: 60px;
}
.media-icons a:hover{
    transform: scale(1.6);
}
.footer {
    background-color: #3f1313;
    color: #fff;
    text-align: center;
    padding: 2rem 0;
    letter-spacing: normal;
    font-size: 13px;
  }
label{
    display: none;
    }
#check{
    z-index: 3;
    display: none;
}
@media (max-width: 960px) {
    header .navigation{
        display: none;
    }

    label{
        display: block;
        font-size: 25px;
        cursor: pointer;
        transition: 0.3s;
        transition-property: color;
    }
    label:hover{
        color: rgb(248, 250, 250);
    }
    label .close-btn{
        display: none;

    }
    #check:checked ~ header .navigation{
        z-index: 2;
        position: fixed;
        background: rgba(0, 13, 13, 0.9);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #check:checked ~ header .navigation a{
        font-weight: 900;
        margin-right: 0;
        margin-bottom: 50px;
        letter-spacing: 2px; 
    }
    #check:checked ~ header label .menu-btn{
        display: none;
    }
    #check:checked ~ header label .close-btn{
        z-index: 2;
        display: block;
        position: fixed;
    }
    label .menu-btn{
        position: absolute;

    }
    header .logo{
        position: absolute;
        bottom: -6px;
    }
    .content .info h2{
        font-size: 45px;
        line-height: 50px;
    }
    .content .info h2 span{
        font-size: 40px;
        font-weight: 600;
    }
    .content .info p{
        font-size: 14px; 
    }
    .footer{
        height : auto !important ;
     }
}
@media (max-width:560px) {
    .content .info h2{
        font-size: 35px;
        line-height: 40px;
    }
    .content .info h2 span{
        font-size: 30px;
        font-weight: 600;
    }
    .content .info p{
        font-size: 14px; 
    }
}
